{{> menu}}

<section class="section columns is-vcentered">
  <div class="column has-text-centered">
    <div class="title">
      {{venueType.title}}
    </div>
    {{> list-venues}}
  </div>
  <div class="column">
    {{> venueType-image }}
  </div>
</section>

<section class="section">
  {{> add-venue}}
</section>
