<form action="/dashboard/addvenueType" method="POST">
  <div class="field">
    <label class="label">Venue Type</label> <input class="input" type="text" placeholder="Enter Venue Type" name="title">
  </div>
  <button class="button is-link">Add Venue Type</button>
</form>
