<form class="box" action="/venueType/{{venueType._id}}/addVenue" method="POST">
  <label>Enter The Venue Details:</label>
  <div class="field is-horizontal">
    <div class="field-body">
      <div class="field">
        <input class="input" type="text" placeholder="Enter Title" name="title">
      </div>
      <div class="field">
        <input class="input" type="text" placeholder="Enter Type" name="type">
      </div>
      <div class="field">
        <input class="input" type="text" placeholder="Enter Contact Details" name="contact">
      </div>
      <div class="field">
        <input class="input" type="text" placeholder="Enter Location" name="location">
      </div>
      <div class="field">
        <input class="input" type="text" placeholder="Enter Description" name="description">
      </div>
    </div>
  </div>
  <button class="button is-primary">Add Venue</button>
</form>
