<table class="table is-fullwidth">
  <thead>
    <tr>
      <th>Title</th>
      <th>Type</th>
      <th>Contact</th>
    </tr>
  </thead>
  <tbody>
    {{#each venueType.tracks}}
      <tr>
        <td>
          {{title}}
        </td>
        <td>
          {{type}}
        </td>
        <td>
          {{contact}}
        </td>
      </tr>
    {{/each}}
  </tbody>
</table>